<div class="container mt-5 shadow">
    <table class="table table-hover  " id="sellersTable">
        {{!-- <caption> users</caption> --}}
        <thead>
            <tr>
                <th scope="col">N0.</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                {{!-- <th scope="col">Edit</th> --}}
                {{!-- <th scope="col"></th> --}}
                <th scope="col"></th>


                {{!-- <th scope="col">Description</th> --}}
            </tr>
        </thead>
        <tbody>
            {{#each sellers}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td><a href="/admin/seller/Details/view/{{this._id}}">{{this.username}}</a></td>
                <td>{{this.email}}</td>
                
                {{!-- <td><a href="/admin/delete-seller?id={{this._id}}" class="text-danger fw-bold"
                        onclick="return confirm('Are You want to delete {{this.username}} ? ')">Delete Account</a> </td> --}}
                 {{#if this.isActive}}
                <td><a href="/admin/seller/block?id={{this._id}}" class="text-danger fw-bold"
                        onclick="return confirm('Block {{this.username}} ? ')">Block Account</a> </td>
                {{else}}
                <td><a href="/admin/seller/unblock?id={{this._id}}" class="text-success fw-bold"
                        onclick="return confirm('Unblock {{this.username}} ? ')">UnBlock </a> </td>
                {{/if}}
            </tr>

            {{/each}}
        </tbody>

    </table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
    let table = new DataTable('#sellersTable');
});
</script>