<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Believe</title>

    <!-- fonts -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
    {{!-- <link href='font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'> --}}

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- main css -->
    <link href="style.css" rel="stylesheet">
    <link href="responsive.css" rel="stylesheet">

    <!-- Slider -->
    <link href="stylesheets/owl.carousel.css" rel="stylesheet">
    <link href="stylesheets/owl.theme.css" rel="stylesheet">
    <link href="stylesheets/owl.transitions.css" rel="stylesheet">

    <!-- lightbox -->
    <link href="stylesheets/prettyPhoto.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      
    <![endif]-->

</head>

<body>

    {{!-- <div id="preloder">
        <div class="loader"></div>
    </div> --}}

    <div id="main-slider">
        <!-- Slider -->
        <div id="home-slider" class="owl-carousel owl-theme">
            <div class="item">
                <img src="images/slider-1.jpg" alt="slide-1" class="img-responsive">
                <div class="slider-desc">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="slide-offers-left">
                                    <div class="slide-offers-title"><span>Men’s</span><br />FASHION</div>
                                    <p>New & Fvhresh collection<br />arraival in believe store</p>
                                    <a href="" class="btn btn-blue">Shop now</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slide-offers-right">
                                    <div class="slide-offers-title"><span>Women’s</span><br />FASHION</div>
                                    <p>New & Fvhresh collection<br />arraival in believe store</p>
                                    <a href="" class="btn btn-magenta">Shop now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/slider-2.jpg" alt="slide-2" class="img-responsive">
                <div class="slider-desc">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="slide-offers-left">
                                    <div class="slide-offers-title"><span>50% Price cut</span><br />for online order
                                    </div>
                                    <p>New & Fvhresh collection<br />arraival in believe store</p>
                                    <a href="" class="btn btn-blue">Shop now</a>
                                </div>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Slider -->



    {{!-- product detailssss
    ss
    asd --}}


    {{!-- product detailssss
    ss
    asd --}}


    <div id="content">
        <!-- Content -->
        <div class="container">
            <div class="home-content">
                <div class="cat-offers">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="cat-sec-1">
                                <img src="images/cat-1.jpg" class="img-responsive" alt="">
                                <div class="cat-desc">
                                    <div class="cat-inner">
                                        <div class="cat-title">man<span>Clothing</span></div>
                                        <a href="" class="btn btn-border">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="cat-sec-2">
                                <img src="images/cat-2.jpg" class="img-responsive" alt="">
                                <div class="cat-desc">
                                    <div class="cat-inner">
                                        <div class="cat-title">woman<span>Clothing</span></div>
                                        <a href="" class="btn btn-border">Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="cat-sec-3">
                                <img src="images/cat-3.jpg" class="img-responsive" alt="">
                                <div class="cat-desc">
                                    <div class="cat-inner">
                                        <div class="cat-title">accessories<span>collections - 2014</span></div>
                                        <a href="" class="btn btn-border">shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="section-title">
                        <h4>New product</h4>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <ul class="filter__controls">
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".women">Women’s</li>
                        <li data-filter=".men">Men’s</li>
                        <li data-filter=".kid">Kid’s</li>
                        <li data-filter=".accessories">Accessories</li>
                        <li data-filter=".cosmetic">Cosmetics</li>
                    </ul>
                </div>
            </div>
            <div class=" " id="products">
                    <div class="row property__gallery">
                        {{#each products}}
                        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 ">
                            <div class="product-grid  ">
                                <div class="product-image men">
                                    <a href="/product/details/{{this.products._id}}" class="image ">
                                        <img src="/product-images/{{this.products._id}}(1).jpg" class="rounded-lg mt-3">
                                    </a>
                                    <ul class="product-links">
                                        {{!-- <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li> --}}
                                        {{!-- <li> <input type="button"><i class="fa fa-heart"></i></a></li> --}}
                                        <li> <button onclick="addToWishlist('{{this.products._id}}')" class="btn mt-3">
                                                {{!-- <i class="fa fa-heart"></i> --}}
                                                <i class="bi bi-heart"></i>
                                            </button></li>

                                        {{!-- <li><a href="#"><i class="fa fa-random"></i></a></li> --}}
                                    </ul>
                                 </div>
                                <div class=" ">
                                    <h6 class=" mt-1  fs-6 fw-bold p-0"><a class="text-dark "
                                            href="#">{{this.products.brandName}}</a></h6>
                                    <div>
                                        <p class="p-0 m-0"><a class="text-dark m-0 "
                                                href="#">{{this.products.title}}</a>
                                        </p>

                                    </div>
                                   <div class="d-flex">
                                        {{!-- <div class="price fw-bold opacity-75"></div> --}}
                                        <p class="price  opacity-75">Rs.{{this.products.discountPrice}}</p>
                                   
                                    {{#if this.products.discount}}
                                     &nbsp  <p><s>  Rs.{{this.products.price}}</s></p>&nbsp
                                    <p class="text-success">({{this.products.discount}}%OFF)</p>
                                    {{/if}}
                                   </div>
                                     

                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
        </div>


        







        

    </div> <!-- wrapper -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="javascripts/library.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/owl.carousel.min.js"></script>
    <script src="javascripts/jquery.raty.js"></script>
    <script src="javascripts/ui.js"></script>
    <script src="javascripts/jquery.prettyPhoto.js"></script>
    <script src="javascripts/jquery.selectbox-0.2.js"></script>
    <script src="javascripts/theme-script.js"></script>
</body>

</html>