<div class="container mt-5 mb-5">


    <div class="row d-flex justify-content-center">


        <div class="col-md-8">


            <div class="card">



                <div class="invoice p-5" id="invoice">



                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                        <table class="table table-borderless">

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2">

                                            <span class="d-block text-muted"> Order Date</span>
                                            <span>{{orderDetails.date}}</span>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="py-2">

                                            <span class="d-block text-muted">Order No</span>
                                            <span>{{orderDetails._id}}</span>

                                        </div>
                                    </td>

                                    {{!-- <td>
                                        <div class="py-2">

                                            <span class="d-block text-muted">Payment</span>
                                            <span><img src="https://img.icons8.com/color/48/000000/mastercard.png"
                                                    width="20" /></span>

                                        </div>
                                    </td> --}}

                                    <td>
                                        <div class="py-2">

                                            <span class="d-block text-muted">Shiping Address</span>
                                            <span>{{orderDetails.address}}</span>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>





                    </div>




                    <div class="product border-bottom table-responsive">

                        <table class="table table-borderless">

                            <tbody>
                                {{#each orderDetails.products}}
                                <tr>
                                    <td width="20%">

                                        <img src="/product-images/{{this.productId}}(1).jpg" width="90">

                                    </td>

                                    <td width="60%">
                                        <span class="font-weight-bold">{{this.brandName}}</span>
                                        <div class="product-qty">
                                            <span>{{this.title}}</span>
                                            <span class="d-block">quantity : {{this.quantity}}</span>
                                            <span class="d-block">size : {{this.size}}</span>
                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold">Rs.{{this.price}}</span>
                                        </div>
                                        {{#if this.isCancelled}}
                                        <div class=" ">
                                            <a href=""><span class="  text-danger">Order Cancelled</span></a>
                                        </div>
                                        {{else}}
                                        <div class=" ">
                                            <a onclick="cancelOrder('{{this.productId}}','{{this.orderId}}','{{this.cart_id}}','{{this.size}}','{{this.quantity}}')"
                                                href=""><span class="  text-danger">Cancel Order </span></a>
                                            {{!-- <button
                                                onclick="cancelOrder({{this.productId}},{{this.orderId}},{{this.cart_id}},{{this.size}},{{this.quantity}})">cancel
                                                Order</button> --}}
                                        </div>
                                        {{/if}}
                                    </td>

                                </tr>
                                {{/each}}


                                {{!-- order confirmation and reason --}}

                                {{!-- order confirmation and reason --}}




                            </tbody>

                        </table>



                    </div>



                    <div class="row d-flex justify-content-end">

                        <div class="col-md-5">

                            <table class="table table-borderless">

                                <tbody class="totals">




                                    <tr class="border-top border-bottom">
                                        {{!-- <td>
                                            <div class="text-left">

                                                <span class="font-weight-bold">Subtotal</span>

                                            </div>
                                        </td> --}}
                                        <td>
                                            <div class="text-right">
                                                <span class="font-weight-bold">Total :{{orderDetails.sum}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        {{!-- <td>
                                            <div class="text-left">

                                                <span class="font-weight-bold">Subtotal</span>

                                            </div>
                                        </td> --}}
                                        <td>


                                        </td>
                                    </tr>


                                </tbody>


                            </table>

                        </div>



                    </div>







                </div>


                <div class="d-flex justify-content-between footer p-3">

                    <span>Need Help? visit our <a href="#"> help center</a></span>
                    {{!-- <span>12 June, 2020</span> --}}
                    <button id="download" class="btn btn-link">Download invoice</button>
                </div>




            </div>


        </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>


<script>
    window.onload = function () {
        document.getElementById("download")
            .addEventListener("click", () => {
                const invoice = this.document.getElementById("invoice");
                console.log(invoice);
                console.log(window);
                var opt = {
                    margin: 1,
                    filename: '{{orderDetails._id}}.pdf',
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                };
                html2pdf().from(invoice).set(opt).save();
            })
    }
</script>